@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 10px;
  align-self: center;
}

.header{
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding-left: 20px;
  padding-right: 20px;
}

.left-links{
  display: flex;
  gap : 20px;
  list-style-type: none;
  padding: 0px;
}

.right-links{
  display: flex;
  gap : 20px;
  list-style-type: none;
}

a{
  text-decoration: none;
  color: #727171;
}

.footer{
  display: flex;
  justify-content: space-between;
  background-color: #eeeeee;
  margin: 0px;
  padding-left: 20px;
  padding-right: 20px;
}

.content{
  text-align: center;
}