/* Add CSS Styling */
.cls-selector{
      background-color : hsl(351, 79%, 85%);
      font-family: Verdana, "DejaVu Sans",sans-serif;
}

#num-2{
      color:rgb(0, 0, 208);
      font-size: 36px;
}

#num-4{
      background-color:rgba(207, 249, 207, 0.948);
      font-size: 24px;
      font-weight: bold;

}

.num-3-class{
      font-size:24px;
}