body {
  background: #eee;
  font-family: sans-serif;
  box-sizing: border-box;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding:10px;
}

.title {
  background: #e3f4ff;    
  font-size: 16px;
  padding: 5px;
}

.content {
  background: #e3f4ff;
  margin: 10px,0,10px;
  padding: 10px;
}

.button-container {
  background: #e3f4ff;
  margin-top: 10px;
  text-align: center;
  padding: 5px;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  
}